body {
    background: url(img/bg.png) repeat ;
    font: normal normal 14px/20px Arial, Georgia, "Times New Roman", Times, serif;
}
h1 {
    color: #4a6ab5;
    font-size: 24px;
    font-weight: lighter;
}
#main_h1{
      color: #4a6ab5;
    font-size: 32px;
    font-weight: bolder;
}

h2 {
    color: #4a6ab5;
    font-size: 24px;
    font-weight: lighter;
}

.clr {
    clear: both;
}


.content {
  width: 800px;
  margin: 20px auto;
  z-index: 20;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:  200px;
    height: 300px;
  object-fit: cover;
}
.post, .cards, .description {
  background: #F5F5F5;
  width: 100%;
  padding: 20px;
  float: left;
}
.description {
  color: #252736;
  font-family: Calibri Light;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}



/* Форма обратной связи */
#inline {
  margin-top: 50px;
    width: 80%;
    background: #fff;
    padding: 10px 20px;
}
.txt { 
    display: inline-block;
    color: #676767;
    width: 190px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
}
.txtarea { 
    display: inline-block;
    color: #676767;
    width: 617px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
    height: 80px;
}
.txt:focus, .txtarea:focus {
 border-style: solid; 
 border-color: #bababa; 
 color: #444; 
 }
input.error, textarea.error { 
    border-color: #973d3d; 
    border-style: solid; 
    background: #f0bebe; 
    color: #a35959; 
    }
input.error:focus, textarea.error:focus { 
    border-color: #973d3d; 
    color: #a35959;
     }
#send { 
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
    background: #4a6ab5;
    width: 210px;
    margin-bottom: 20px;
}
#send:hover {
    background: #979797;
}
/* Форма обратной связи */
#self{
  border-radius: 8px;
  width:  200px;
  height: 300px;
  object-fit: cover;
}

table thead tr {
  
    background-color: #171a67;
    color: #ffffff;
    text-align: left;
  
}
table th,
table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #171a67;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #171a67;
}
.footer_text{
  padding: 20px 40px;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 20px;
}
.nav_list>li>a{
  text-decoration: none;
  color:#8d3a7b;
}
.nav_list>li{
  padding: 5px 8px;
  transition: 1s;
  border-radius: 10px;
}
.nav_list>li:hover{
  box-shadow: 5px 5px 10px #8d3a7b;
}
img[src*="photo"]{
  border: 4px solid aqua;
  height: 300px;
  border-radius: 40px;
  transition: 1s;
}
section img:hover{
  transform: scale(1.3);
  border-color: red;
}
thead{
  background-color: orange;
  color: white;
}
th, td{
  padding: 5px 8px;
}
table, th, td{
  border: .7px solid white;
}
tbody tr td:first-child{
  background-color: lightsalmon;
  color: white;
}